html {
    font-family: "Courier", monospace;
    background: linear-gradient(45deg, #cc97ff, #d6e5ff, #e0d4ff, #e6f4ff);
    background-attachment: fixed;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
}

#page {
    width: 95%;
    margin: auto;
    border-spacing: 8px;
}

.top {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: black;
    background-color: #ffdeea;
}

#coordinates {
    vertical-align: top;
    width: 30%;
}

#input {
    width: 100%;
    background-color: white;
    margin: auto;
}

#input-table {
    text-align: center;
    width: 95%;
}

.label {
    width: 20%;
    font-size: 20px;
}

.value {
    width: 90%;
    margin: 2% 0;
    padding: 3px;
}

#buttons {
    width: 100%;
    margin: 1% 0;
    padding: 3px;
}

.button {
    height: 27px;
    width: 70px;
    font-family: "Courier", monospace;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: #ffdeea;
    border: none;
}

.button:hover {
    background-color: #cc97ff;
}