html {
    font-family: "Courier", monospace;
    background: linear-gradient(45deg, #cc97ff, #d6e5ff, #e0d4ff, #e6f4ff);
    background-attachment: fixed;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
}

#content {
    background-color: white;
}

#page {
    width: 95%;
    margin: auto;
    border-spacing: 8px;
}

.top {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: black;
    background-color: #ffdeea;
}

#coordinates {
    vertical-align: top;
    width: 30%;
}

#buttons {
    width: 50%;
    padding: 3px;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
}

.button {
    height: 27px;
    width: 70px;
    font-family: "Courier", monospace;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: #ffdeea;
}

.button:hover {
    background-color: #cc97ff;
}