#table {
    vertical-align: top;
    position: relative;
    width: 65%;
}

#result-table {
    position: absolute;
    background-color: white;
    bottom: 0;
    top: 54px;
    width: 100%;
    overflow-y: scroll;

}

#restable {
    width: 100%;
    text-align: center;
}

.column-type1 {
    width:  11%;
    background-color: #f2deea;
    text-align: center;
}

.column-type2 {
    width:  15%;
    background-color: #f2deea;
    text-align: center;
}

.column-type3 {
    width:  26%;
    background-color: #f2deea;
    text-align: center;
}